html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  min-height:416px;
  background-color: #fff;
  font-family:arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
h1 {
  font-size:30px;
  line-height: 60px;
  text-align:center;
  color:#212121;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  color:#3c3c3c;
  text-decoration: none;
}
.title {
  overflow: hidden;
}
.title li {
  width: 33.33%;
  line-height: 40px;
  text-align: center;
  float: left;
  list-style: none;
}
.title li.active {
  border-bottom: 2px solid #ff1234;
}
#mySwipe div li {
  list-style: none;
  line-height: 35px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
.p_newslist_ico {
  display: none;
}