/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}

#header {
	width:1000px;
	margin:0 auto;
	height:100px;
	background:url(../images/header.png) center bottom no-repeat;
}
#header span {
	display:block;
	text-align:center;
	padding-top:90px;
	color:#cdcdcd;
	font-size:13px;
	font-family:\5FAE\8F6F\96C5\9ED1,arial,\5b8b\4f53,tahoma;
}
#header span a {
	color:#cdcdcd;
	text-decoration:none;
}
#header span a:hover {
	color:#999;
	text-decoration:none;
}
#content {
	width:1000px;
	margin:100px auto 0;
}
#resume {
	float:left;
	width:250px;
	height:300px;
	background:url(../images/resume.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
#resume:hover {
	background:url(../images/resume-hover.png) no-repeat;
}
#blog {
	float:left;
	width:250px;
	height:300px;
	background:url(../images/blog.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
#blog:hover {
	background:url(../images/blog-hover.png) no-repeat;
}
#books {
	float:left;
	width:250px;
	height:300px;
	background:url(../images/books.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
#books:hover {
	background:url(../images/books-hover.png) no-repeat;
}
#contact {
	float:left;
	width:250px;
	height:300px;
	background:url(../images/contact.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
#contact:hover {
	background:url(../images/contact-hover.png) no-repeat;
}